@model Bunzl.Infra.CrossCutting.Templates.Models.Emails.NotificaUsuarioTabelaImportadaModel
@{
    Layout = "/Views/Shared/_LayoutEmail.cshtml";
}

<div>
    <div style="text-align: center; ">
        <p style="margin-bottom: 0px; color: white;">Hello @Model.UsuarioNome,</p>
        <p style="margin-top: 0px; color: white;">Supplier @Model.FornecedorNome has uploaded a price list to the Bunzl Importers Portal.</p>
    </div>
</div>