@model Bunzl.Infra.CrossCutting.Templates.Models.Emails.NotificaUsuarioTabelaReprovadaModel
@{
    Layout = "/Views/Shared/_LayoutEmail.cshtml";
}

<div>
    <div style="text-align: center; ">
        <p style="margin-bottom: 0px; color: white;">Hello @Model.FornecedorNome,</p>
        <p style="margin-top: 0px; color: white;">User @Model.UsuarioNome from @Model.EmpresaNome has refused your new price list.</p>
    </div>
</div>
