@model Bunzl.Infra.CrossCutting.Templates.Models.Emails.NovoFornecedorCadastradoModel
@{
    Layout = "/Views/Shared/_LayoutEmail.cshtml";
}

<div>
    <div style="text-align: center; ">
        <p style="margin-bottom: 0px; color: white;">Hello @Model.Nome.</p>
        <p style="margin-top: 0px; color: white;">Supplier @Model.NomeFornecedor has completed their registration in the "Registration Data" tab.</p>
    </div>
</div>