@model Bunzl.Infra.CrossCutting.Templates.Models.Emails.UsuarioJaCadastradoModel
@{
    Layout = "/Views/Shared/_LayoutEmail.cshtml";
}

<div>
    <div style="text-align: center; ">
        <p style="margin-bottom: 0px; color: white;">Hello @Model.Nome, you have been registered with @Model.EmpresaNome</p>
        <p style="margin-top: 0px; color: white;">Use the link below to access the portal.</p>
    </div>
    <div style="text-align: center; margin-top: 20px;">
        <a href="@Model.Link" style="background-color: #003C61; color: white; padding: 10px 20px; text-decoration: none; border: 1px solid white; border-radius: 5px; cursor: pointer; display: inline-block;">
            Fazer Login
        </a>
    </div>
</div>