@model Bunzl.Infra.CrossCutting.Templates.Models.Base.TemplateEmailModelBase

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Importers Portal - Bunzl</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #0E4E7C">
    <div style="max-width: 600px; margin: 0 auto; padding: 20px;">
        <div style="display: flex; align-items: center; justify-content: flex-start; margin-bottom: 20px;">
            <img style="height: 50px; margin-right: 20px;" src="https://portalimportador.bunzl.com.br/img/email/bunzl_logo.png" alt="Logo">
            <h2 style="color: white;">@Model.Titulo</h2>
        </div>
        <div style="font-size: 24px; margin-bottom: 20px; text-align: center; color: white;">
            @Model.Assunto
        </div>
        <div style="font-size: 16px;">
            @RenderBody()
        </div>
    </div>
</body>
</html>