@model Bunzl.Infra.CrossCutting.Templates.Models.Emails.NotificaUsuarioTabelaAtualizadaModel
@{
    Layout = "/Views/Shared/_LayoutEmail.cshtml";
}

<div>
    <div style="text-align: center; ">
        <p style="margin-bottom: 0px; color: white;">Olá @Model.UsuarioNome,</p>
        <p style="margin-top: 0px; color: white;">Gostaríamos de informar que o fornecedor @Model.FornecedorNome atualizou as informações dos seus produtos no Portal de Importadores Bunzl.</p>
    </div>
</div>
