@model Bunzl.Infra.CrossCutting.Templates.Models.Emails.NovaObservacaoNegociacaoTimeBunzlModel
@{
    Layout = "/Views/Shared/_LayoutEmail.cshtml";
}

<div>
	<div style="text-align: center;">
		<p style="margin-bottom: 0px; color: white;">Olá @Model.UsuarioNome,</p>
		<p style="margin-bottom: 0px; margin-top: 0px; color: white;">O fornecedor @Model.NomeFornecedor adicionou uma nova mensagem na negociação.</p>
		<p style="margin-top: 0px; color: white;">Código da Negociação: @Model.CodigoNegociacao</p>
		<p style="margin-top: 0px; color: white;">Clique no link abaixo para acessar o portal e ver os detalhes.</p>
	</div>
	<div style="text-align: center; margin-top: 20px;">
		<a href="@Model.Link" style="background-color: #003C61; color: white; padding: 10px 20px; text-decoration: none; border: 1px solid white; border-radius: 5px; cursor: pointer; display: inline-block;">
			Acessar o Portal
		</a>
	</div>
</div>