@model Bunzl.Infra.CrossCutting.Templates.Models.Emails.ProdutoAdicionadoModel
@{
    Layout = "/Views/Shared/_LayoutEmail.cshtml";
}

<div>
    <div style="text-align: center; ">
        <p style="margin-bottom: 0px; color: white;">Olá @Model.Nome</p>
        <p style="margin-top: 0px; color: white;">O Fornecedor @Model.NomeFornecedor adicionou o produto @Model.ProdutoDescricao, no portal</p>
    </div>
</div>