@model Bunzl.Infra.CrossCutting.Templates.Models.Emails.UsuarioCadastroModel
@{
    Layout = "/Views/Shared/_LayoutEmail.cshtml";
}

<div>
    <div style="text-align: center; ">
        <p style="margin-bottom: 0px; color: white;">Olá @Model.Nome, seu e-mail foi cadastrado no Portal de Fornecedores Bunzl.</p>
        <p style="margin-top: 0px; color: white;">Acesse o link abaixo para cadastrar a sua senha de acesso no portal.</p>
        <p style="margin-top: 20px; color: white;">Se você não tem ciência desse acontecimento, desconsidere esse e-mail.</p>
    </div>
    <div style="text-align: center; margin-top: 20px;">
        <a href="@Model.Link" style="background-color: #003C61; color: white; padding: 10px 20px; text-decoration: none; border: 1px solid white; border-radius: 5px; cursor: pointer; display: inline-block;">
            Continuar Cadastro
        </a>
    </div>
</div>